* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;

}

.btn_primary {
  padding: 10px 25px;
  background: #facc15;
  color: rgb(21, 128, 61);
  
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 1rem;

}

.pri{background-color: rgb(21, 128, 61);}
.mild{background-color: rgb(22, 101, 52);}
.dark{background-color: rgb(20, 83, 45);}
.light1{background-color: rgb(207, 240, 220);}
.light2{background-color: rgb(240, 253, 244);}


.heading {
  text-align: center;
}

.heading2{
  text-align: center;
  color: white;
}
/*Navbar*/
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 10%;

  color: #ffffff;
  width: 100%;
}

.nav_links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.nav_links h1 {
  font-size: 0.9rem;
}



/*Hero Section*/
.hero_section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 100%;
}

.left {
  flex: 0 0 20%;

}


.center {
  flex: 0 0 60%;


}

.center p {
  color: rgba(0, 0, 0, 0.8);
}

.center button {
  margin-top: 20px;
}

.right {
  flex: 0 0 20%;

}

.left img,
.right img {
  width: 100%;
  height: auto;
}

/*Choose Trees Section*/
.choose_trees {
  display: flex;
  align-items: top;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 1rem;
  padding-bottom: 1rem;

  
}





.tree_cards{
  display: grid;
 grid-template-columns: repeat(3, 1fr); /* 3 equal-width columns */
  grid-auto-rows: auto;
  gap: 2rem; 
  padding: 2rem;
  
}

.tree_card {
 
  background-color: #ffffff;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  filter: drop-shadow(rgba(0, 0, 0, 0.1) 0.5rem 0.5rem 1rem);}


.tree_card img {
  width: 100%;
  height: 50%;
  border-radius: 12px;
  filter: drop-shadow(rgba(0, 0, 0, 0.1) 0.5rem 0.5rem 1rem);
}

.categories {
  list-style: none;
  margin-top: 1rem;
  text-align: left;
  margin-left: 2rem;

}

.categories li {
  margin-bottom: 0.7rem;
  font-size: 1rem;
  font-weight: 500;

}

.categories li:hover{
  color: #ffffff;
  cursor: pointer;
  background-color: rgb(21, 128, 61);
  border-radius: 8px;
}


.pleft, .pright {
  flex: 0 0 20%;
}





/*About Section*/
.about_section {

  align-items: center;
  width: 100%;
  ;

}

.about_section h1 {
  
  margin-bottom: 1rem;
  padding-top: 1rem;
  ;
}

.about_content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 5% 10%;
   flex-wrap: wrap;
   max-width: 100%;
}

.about_text h1 {
  text-align: left;
  font-size: 1rem;
  font-weight: 400;
}
.about_text{
    max-width: 50%; 
    
}



.about_text ul {
  list-style: disc;
  margin-left: 20px;
  margin-top: 10px;
}

.about_content img {
  max-width: 45%;    
  height: auto;
  flex: 1;
}

/*impact Section*/

.impact_section {


  width: 100%;


}

.impact_section h1 {
  margin-bottom: 1rem;
  padding-top: 1rem;
}
.impact_stats {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5rem;
  padding: 2% 10%;
  width: 100%;
     flex-wrap: wrap;

}
.impact_stats div h1 {
  font-size: 2rem;
  color: rgb(21, 128, 61);
  
}

.impact_stats div  {
background-color: white;
}

.children {
  flex: 1;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
}


/*plant_tree_section */

.plant_tree_section {
  width: 100%;
  padding: 8rem 0rem;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 5% 5%;
  width: 50%;
  margin: auto;
  border-radius: 12px;
  filter: drop-shadow(rgba(7, 7, 7, 0.185) 1rem 1rem 10px);
  margin-top: 2rem;
}
.form input {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
}



.form button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}